.label-input {
  width: 115px;
  height: 22px;
  border-radius: 14px;
  background-color: rgba(226, 154, 45, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.label-output {
  width: 115px;
  height: 22px;
  display: flex;
  border-radius: 14px;
  background-color: rgba(76, 175, 121, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.label-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-style {
  width: 115px;
  height: 40px;
  background-color: white;
  border-radius: 15px;
  padding-left: 10px;
  border: 2px solid rgba(255, 194, 103, 1);
  font-weight: 700;
  font-size: 18px;
}
.input-style:focus {
  outline: none;
}
.output-style:focus {
  outline: none;
}

.output-style {
  width: 115px;
  height: 40px;
  background-color: white;
  border-radius: 15px;
  text-align: right;
  border: 2px solid rgba(45, 209, 121, 1);
  font-weight: 700;
  font-size: 18px;
}

.border-style-input {
  position: absolute;
  height: 39px;
  background-color: transparent;
  border-left: 1px solid rgba(255, 238, 213, 1);
  overflow-y: hidden;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(210%, -106%);
}

.border-style-output {
  position: absolute;
  height: 39px;
  background-color: transparent;
  border-right: 1px solid rgba(197, 242, 218, 1);
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(10%, -106%);
}
